<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409287816828-oi8q7ovkl5e32hhe4k3dsvl2fnht3eq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409287816828-oi8q7ovkl5e32hhe4k3dsvl2fnht3eq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAq67DQTuAILFTWjRZXwqB4rGQiPjFthWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>409287816828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meeds</string>
	<key>PROJECT_ID</key>
	<string>meeds-94967</string>
	<key>STORAGE_BUCKET</key>
	<string>meeds-94967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409287816828:ios:d385f7c5753321aac6bbf9</string>
</dict>
</plist>